/.idea
__pycache__/
*.pyc           # Compiled Python bytecode files
*.pyo           # Optimized Python bytecode files (older versions)
.python-version
venv/           # Your virtual environment directory (if you're using one)
*.log           # Log files
*.swp           # Swap files (from editors like Vim)
.DS_Store       # macOS Desktop Services Store file
/.venv