{% extends "core/base.html" %}

{% block title %}Job Listings{% endblock title %}

{% block content %}
    <h1>Job Listings</h1>
    <form method="get" action="{% url 'job:job_search' %}">
        <input type="text" name="q" placeholder="Search jobs...">
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for job in jobs %}
            <li><a href="{% url 'job:job_detail' job.id %}">{{ job.title }}</a> - {{ job.location }} (Posted: {{ job.posted_date }})</li>
            {% empty %}
            <li>No jobs available.</li>
        {% endfor %}
    </ul>
    {% if request.user.is_recruiter %}
        <p><a href="{% url 'job:job_create' %}">Post a New Job</a> | <a href="{% url 'recruiter:recruiter_dashboard' %}">Recruiter Dashboard</a></p>
    {% endif %}
{% endblock content %}