{% extends "base.html" %}

{% block title %}Applicant Dashboard - Job Connect{% endblock title %}

{% block content %}
    <h1>Welcome to your Applicant Dashboard, {{ request.user.username }}!</h1>
    <p>Here you can view job listings, manage your applications, and update your profile.</p>

    <div>
        <h2>Your Actions</h2>
        <ul>
            <li><a href="{% url 'applicant:applicant_profile_view' %}">View Your Profile</a></li>
            <li><a href="{% url 'job:job_list' %}">Browse Job Listings</a></li>
            <li><a href="{% url 'applicant:applicant_applications' %}">View Your Applications</a></li>
            </ul>
    </div>
{% endblock content %}